{% block title %} Home{% endblock %}
{% extends "base.html.twig" %}

{% block content %}
    <div class="content container">
        {% include 'page/common/flash.html.twig' %}
        {% if douceurs %}
            <ol class="breadcrumb">
                <li><h1>Les douceurs</h1></li>
            </ol>
            {% include "page/content/grid.html.twig" with douceurs %}
        {% else %}
            <span class="empty-collection">Pas de douceurs encore ajoutées !</span>
        {% endif %}
        {% if bands %}
         <div class="row">
            <ol class="breadcrumb">
                <li><h1>Les bands</h1></li>
            </ol>
            {% for band in bands %}
                <div class="col-lg-3 col-sm-4 col-md-4 col-xs-4">
                    <div class="band-item" id="band-{{ band.id }}">
                        <img src="{{ band.cover }}" alt="...">
                        <div class="caption band-item" id="{{ band.id }}">
                            <h3>{{ band.name }}</h3>
                            <p>
                                <a href="/band/{{ band.name }}" class="btn btn-primary btn-info" role="button" data-id="{{ band.name }}">See band</a>
                             </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        {% else %}
            <span class="empty-collection">Pas de groupe de douceurs ajoutées !</span>
        {% endif %}
        {% include "page/content/action.html.twig" %}
    </div>
{% endblock %}